.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

.testimonial-card .avatar img {
  width: 100%;
}

.testimonial-card .card-body {
  text-align: center;
}

.card-wrapper .card-up {
  height: 200px;
  overflow: hidden;
}
.card-wrapper .card-up img {
  vertical-align: middle;
}

.indigo {
  background-color: #a4b9ba !important;
}

.card-wrapper .avatar {
  display: block;
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
}
.card-wrapper .avatar img {
  width: 100%;
  background: none repeat scroll 0 0 #fff;
  border: 5px solid #fff;
}
.shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(184, 170, 184, 0.61);
  -moz-box-shadow: 0px 0px 5px 0px rgba(184, 170, 184, 0.61);
  box-shadow: 0px 0px 5px 0px rgba(184, 170, 184, 0.61);
}
.font-link {
  font-size: 15px;
  font-style: italic;
}
.border-card {
  border-left: 0.6em solid #a4b9ba;
  border-radius:0;
}
.listItem:hover {
  transform: scale(1.01, 1.01);
  .arrow-redo-outline {
    display: block;
  }
}
.arrow-redo-outline {
  height: 20px;
  width: 20px;
  opacity: 50%;
  display: none;
}
.globe-outline {
  height: 15px;
  width: 15px;
  opacity: 50%;
}
.click {
  background-color: #b2c9cf;
  color: rgb(54, 54, 53);
  border-radius: 50%;
  padding: 5px;
  font-size: 15px;
}
.link-count {
  background-color: #a4b9ba;
  color: rgb(54, 54, 53);
  border-radius: 50%;
  padding: 5px;
}
